@import "../../theme";
@import "../../break-point";

.chart {
  &__container {
    background-color: $black000;
    width: max-content;

    border-radius: 5px;
    box-shadow: 0px 1.63778px 8.18892px rgba($black900, 0.1);

    p {
      padding: 1rem 0.8rem 0 2rem;
      margin-bottom: 1.8rem;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  &__divider {
    border: 1px solid $black200;
  }

  &__pie {
    width: 20rem !important;
    height: auto !important;

    padding: 0.3rem 0.8rem 0;
    padding-right: 3rem;

    margin-top: -3rem;
  }
}
