.signIn {
  &__container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
  }

  &__button {
    margin-top: 2vh;
    width: 30%;
  }
}

.forgotPassword {
  &__container {
    width: 50%;
    text-align: right;
  }
}

.divider {
  &__container {
    width: 50%;
  }
}