@import "../../../shared/theme";
@import "../../../shared//break-point";

.signIn {
  &__container {
    background: $primaryBackground;
    height: 100%;
    &__background {
      width: 100%;
    }
  }

  &__formContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__formSection {
    z-index: 999;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__textField {
    margin: 1em 0;
  }

  &__button {
    margin-top: 2vh;
    background-color: $primary600;
    font-size: $BUTTON_TEXT_SIZE;
    font-weight: 600;
    text-transform: none;
    margin: 1em 0;
    transition: ease-in 300ms;
  }
  &__button:hover {
    background-color: $primary900;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12);
  }

  &__form {
    width: 100%;
    text-align: center;
    gap: 2vh;
  }
  &__errorText {
    margin: 1rem;
    color: $systemRed;
  }
}

.imageSide {
  background-image: url("../../../assets/image1.png");
  background-repeat: no-repeat;
  background-position: center center;
}

//***
@media (max-width: $bp-xl) {
  .imageSide {
    background-size: cover;
  }
}

@media (max-width: $bp-md) {
  .imageSide {
    display: none;
  }

  .signIn {
    &__container {
      height: 100vh;
    }
    &__button {
      font-size: $SMALL_BUTTON_TEXT_SIZE;
    }

    &__formSection {
      margin-top: 10vh;
    }
  }

  .forgotPassword {
    &__link {
      font-size: $SMALL_NORMAL_FONT_SIZE;
    }
  }

  .registerSuggestion {
    &__signUpLink,
    &__container {
      font-size: $SMALL_NORMAL_FONT_SIZE;
    }
  }
}
