@import "../../../../shared/theme";

.ratingSection {
  &__container {
    margin: 2rem 0;
  }

  &__feedbackCard {
    display: flex;
    padding: 1rem;
    background-color: $primary50;
    border-radius: 10px;
    gap: 1rem;
    margin: 1rem 0;
  }
}
