@import "../../../../shared/theme";

.detail {
  &__container {
    display: flex;
    gap: 2%;

    h3 {
      margin-top: 0;
    }
  }

  &__back {
    margin-top: 0.2rem;
  }

  &__title {
    color: $primary900;
    font-weight: 700;

    display: flex;
    align-items: center;

    h3 {
      margin-right: auto;
    }
  }

  &__body {
    margin-inline: auto;

    &_header {
      display: flex;
      gap: 4%;
      align-items: center;

      h4 {
        margin-right: auto;
      }
    }

    h4 {
      margin-block: 0;
    }

    p {
      width: 90%;
    }

    img {
      height: 100%;
    }
  }

  &__img {
    width: 20px;
    cursor: pointer;
    transition: transform 0.15s ease-out;
    &:active {
      transform: scale(1.1);
    }
  }
}
