@import "../../../../shared/theme";

.detail {
  &__title {
    color: $primary900;
    font-weight: 700;
    white-space: pre-line;

    display: flex;
    align-items: center;
    gap: 3%;

    h3 {
      margin-right: auto;
    }

    img {
      width: 20px;
      height: 20px;

      cursor: pointer;

      transition: transform 0.15s ease-out;

      &:active {
        transform: scale(1.1);
      }
    }
  }

  &__body {
    width: 90%;
    margin-inline: auto;

    h4 {
      margin-block: 0;
    }
  }
}
