@import "../../../shared/theme";
.seminarForm {
  &__container {
    padding: 1rem;
  }
  &__gridWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  &__gridContainer {
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    width: 100%;
    gap: 2vh;
    background-color: $black000;
    padding: 2rem;
    border-radius: 1.2rem;
  }
  &__buttonContainer {
    margin: 1rem 0;
  }
  &__image {
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    position: relative;
  }
  &__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__iconButton {
    position: absolute;
    top: 1.5vh;
    right: 1vw;
    color: $black000;
  }
  &__iconButton:hover {
    background-color: $black800;
  }
}

.autocomplete {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3vh;

    label {
      align-self: flex-start;
      font-size: $LABEL_SIZE;
      color: $primary900;
      font-weight: 600;
      margin-bottom: 0.8vh;

      span {
        margin-left: 0.3rem;
        color: $black400;
        font-weight: 500;
      }
    }
  }

  &__rowDropdown {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 5px 0;
    padding: 10px;
    cursor: default;

    &__userInfo {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__rowDropdown:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
