@import "../../../../shared/theme";
@import "../../../../shared/break-point";

.form {
    width: 50%;
}

.text {
    color: $primary900;
}
.instructions {
    width: 50%;
    text-align: center;
}

@media (max-width: $bp-md) {
    .form {
        width: 100%;
    }

    .instructions {
        width: unset;
        font-size: $SMALL_NORMAL_FONT_SIZE;
    }
}
