.leftPattern {
    z-index: 0;
    position: absolute;
    width: 50% !important;
    top: -3vh;
    left: 0vw;
}
.rightPattern {
    z-index: 0;
    position: absolute;
    width: 50% !important;
    top: -3vh;
    right: 0vw;
}