@import "../../../shared/theme";

.booking {
  &__stepper {
    width: 70%;
    margin: 1rem auto;
  }
  &__calendar {
    height: 70vh;
    width: 70%;
    margin: 0 auto;
  }
  &__title {
    color: $primary900;
  }
}
