@import "../../../../shared/theme";

.text {
    color: $primary900;
}
.email {
    font-weight: 700;
}
.buttonContainer {
    margin: 1em 0;
    width: 50%;
}
.iconButton {
    position: absolute;
    left: 2em;
    top: 50%;
    &__icon {
        color: $primary600;
    }
}