@import "../../../shared/theme";


.container {
    background: $secondaryBackground;
}

.paper {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5em;
    }
    
    &__content {
        border-radius: 15px;
        padding: 0 1.5em 1.5em 1.5em;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
}

.form {
    width: 50%;
}

.text {
    color: $primary900;
}
.instruction {
    width: 50%;
    text-align: center;
    margin: 1em 0;
}