@import "../../../shared/theme";

.title {
    font-size: $TOP_TITLE_SIZE;
    text-align: center;
    font-weight: 700;
    color: $primary600;
    margin: 1vh 0;
}

@media (max-width: 899px) {
    .title {
        font-size: $SMALL_TOP_TITLE_SIZE;
    }
}
