@import "../../shared/theme";

.list {
  &__container {
    background-color: $black000;
    width: 90%;
    min-height: 80vh;
    padding: 2rem;
    margin: 1rem auto;

    border-radius: 1rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;

    align-items: center;
    height: max-content;

    margin-bottom: 1rem;

    button {
      width: fit-content;
      border-radius: 8px;
      height: 2.8rem;

      font-size: 1rem;
    }

    div {
      margin-bottom: 0;

      label {
        display: none;
      }
    }

    img {
      transform: scale(0.5);
    }
  }

  &__input {
    margin-left: auto;

    width: 30%;
  }

  &__table {
    margin-bottom: 1rem;
    border-radius: 10px;

    box-shadow: 2px 4px 8px rgba(4, 30, 160, 0.1);

    &_icon {
      width: 45px;
    }

    a {
      text-decoration: none;
      color: $primary600;
    }
  }

  &__pagination {
    ul {
      justify-content: center;
    }
  }
}
