@import "../../../shared/theme";

.divider {
  color: $primary900;
  font-weight: 500;
  font-size: $NORMAL_FONT_SIZE;
  margin: 1em 0;

  &__container {
    width: 50%;
  }
}

.divider::after, .divider::before {
  border-top: thin solid $primary900;
}

.divider_without_text {
  background-color: $primary900;
}

@media (max-width: 899px) {
  .divider {
    font-size: $SMALL_NORMAL_FONT_SIZE;
    margin: .5em 0;

    &__container {
    width: 70%;
  }
  }
}