$primary900: #1A237E;
$primary800: #283493;
$primary700: #303E9F;
$primary600: #3948AB;
$primary500: #3F50B5;
$primary400: #5C6AC0;
$primary300: #7986CB;
$primary200: #9FA8DA;
$primary100: #C5CAE9;
$primary50: #E8EAF6;

$secondary900: #FF6700;
$secondary800: #FF8900;
$secondary700: #FE9B00;
$secondary600: #FEAE00;
$secondary500: #FDBC00;
$secondary400: #FDC600;
$secondary300: #FDD241;
$secondary200: #FEDE7A;
$secondary100: #FFEBAF;
$secondary50: #FFF7DF;

$systemRed: #FF5252;
$systemGreen: #4CAF50;

$black900: #000000;
$black800: #262626;
$black800: #434343;
$black600: #555555;
$black500: #7B7B7B;
$black400: #9D9D9D;
$black300: #C4C4C4;
$black200: #D9D9D9;
$black100: #E9E9E9;
$black50: #F5F5F5;
$black000: #FFFFFF;

$primaryBackground: linear-gradient(207.72deg, #FFFFFF 6.48%, #E8EAF6 45.45%, #D8DEFF 91.95%);

//TEXT SIZE
$TOP_TITLE_SIZE: 2em;
$LABEL_SIZE: 1vw;
$BUTTON_TEXT_SIZE: 2.2vh;
$NORMAL_FONT_SIZE: 1.2vw;
