@import "../../../../shared/theme";

.section {
  margin-inline: 4vw;
  margin-top: 10%;
  padding-bottom: 2.3rem;

  &__title {
    color: $primary700;
    font-weight: 600;
    white-space: pre-line;

    display: flex;
    align-items: center;
    gap: 3%;

    h3 {
      margin-right: auto;
    }

    img {
      width: 20px;
      height: 20px;

      cursor: pointer;

      transition: transform 0.15s ease-out;

      &:active {
        transform: scale(1.1);
      }
    }
  }

  &__body {
    width: 95%;
    margin-inline: auto;
    word-wrap: break-word;

    h4 {
      margin-block: 0;
    }
  }
}
