@import "../../shared/theme";

.container {
  position: absolute;
  z-index: 9999999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;

  background-color: $black000;
  border-radius: 15px;
  outline: none;

  display: flex;
  flex-direction: column;

  width: 32vw;
  padding: 0rem 2.5rem 1rem;

  &__buttons {
    justify-content: flex-start;
    display: flex;
    width: 100%;
    gap: 5%;

    button {
      width: max-content;
      padding-inline: 2rem;
    }
  }

  &__cancel {
    position: absolute;
    right: 2.5rem;
    top: 3%;

    cursor: pointer;

    transition: transform 0.1s;

    &:active {
      transform: scale(1.05);
    }
  }

  &__error {
    color: $systemRed;
    margin-top: -1rem ;
  }

  h2 {
    text-align: center;
  }
}
