@import "../../../shared/theme";

.freeTime {
  color: $primary400;
}

.eventDialog {
  &__container {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }
  &__icon {
    margin-right: 5px;
  }
}
