@import "../../theme";

.footer {
    &__container {
        text-align: center;
        font-size: $EXTRA_SMALL_SIZE;
        padding: .5rem;
        color: $primary200;
        background-color: $primary900;
    }
}