@import "../../../shared/theme";
@import "../../../shared/break-point";

.detail {
  &__container {
    width: 90%;
    min-height: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }

  &__seminarStatus {
    width: max-content;
    padding: 0.7rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $black000;
    border-radius: 5px;
  }
  &__futureLabel {
    background-color: $secondary900;
  }
  &__pastLabel {
    background-color: $primary400;
  }

  &__stage {
    margin-top: 1.5rem;
    font-size: 1rem;

    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: rgba($black900, 0.6);
    }
  }

  &__mentorContainer {
    display: flex;
    gap: 2rem;
    align-items: center;

    & div {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
  &__activeMentor {
    font-weight: 500;
    font-size: 1.2rem;
    color: $primary800;
    text-decoration: none;
  }
  &__activeMentor:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &__content {
    border-radius: 1.2rem;
    background-color: $black000;
    margin: 1rem 0;
    padding: 1.5rem;
    font-size: 1rem;
    display: flex;
    flex: unset;
  }

  &__section {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 5px;
    margin: 1rem 0;
  }

  &__subTitle {
    font-weight: 600;
    color: $black700;
    font-size: 1.2rem;
  }

  &__image {
    width: 30%;
    height: fit-content;
    border: 1rem;
    border-radius: 0.8rem;
  }

  &__information {
    padding-inline: 2.5rem;
    position: relative;
    width: 100%;
  }

  &__title {
    color: $primary900;
    font-size: 1.8rem;
    margin-top: 0;
    max-width: 90%;
  }

  &__burger {
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: 25px;
    }

    button {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__dropdown {
    li {
      display: flex;
      gap: 0.8rem;

      margin-inline: 0.3rem;
      padding-inline: 0.5rem;

      &:hover {
        background-color: $primary50;
      }
    }

    img {
      width: 22px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    button {
      width: 40%;
    }
  }
  &__expandButton {
    display: flex;
    justify-content: center;
  }

  &__seminarDescription {
    font-size: 1rem;
  }
  &__seminarDescriptionExpand {
    -webkit-line-clamp: 7;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 1rem;
  }

  @media (max-width: $bp-lg) {
    &__container {
      width: 85%;
    }

    &__buttons {
      gap: 1rem;
      margin-top: 1.2rem;

      button {
        font-size: 1rem;
        width: 40%;
      }
    }
  }

  @media (max-width: $bp-md) {
    &__information {
      padding-inline: 1.3rem;

      ul {
        padding-left: 2rem;
      }
    }

    &__content {
      font-size: 0.7rem;
      padding: 1.5rem;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__buttons {
      margin-top: 1rem;

      button {
        font-size: 1.5vw;
        padding: 0.5rem;
      }
    }
  }

  @media (max-width: $bp-sm) {
    &__container {
      width: unset;
      padding-inline: 0.8rem;
    }

    &__stage {
      font-size: 0.8rem;
    }

    &__content {
      padding: 0.8rem;
      font-size: 0.6rem;
    }

    &__information {
      padding-inline: 0.8rem;

      ul {
        padding-left: 1rem;
      }
    }

    &__title {
      font-size: 1.3rem;
    }

    &__buttons {
      margin-top: 0.5rem;

      button {
        font-size: 0.6rem;
        padding: 0.5rem;
        width: fit-content;
      }
    }
  }
}
