@import "../../theme";

.textField {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3vh;

    label {
      align-self: flex-start;
      font-size: $LABEL_SIZE;
      color: $primary900;
      font-weight: 600;
      margin-bottom: 0.8vh;
    }

    input {
      padding-block: 0.7rem;
      background-color: $black000;
      border-radius: 5px;
    }
  }

  &__limit {
    text-align: right;
    margin-top: 0.2rem;

    font-size: $EXTRA_SMALL_SIZE;
  }
}

@media (max-width: 899px) {
  .textField {
    &__container {
      label {
        font-size: $SMALL_LABEL_SIZE;
      }
    }
  }
}
