@import "../../../shared/theme";
@import "../../../shared/break-point";

.card {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    // height: 100%;
    background-color: $black000;
    padding-bottom: 1rem;
  }

  &__follow {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: 1rem;
    margin-left: auto;
    color: $secondary900;
    background-color: $secondary50;
    padding: 0.3em 1rem;
    border-radius: 4px 16px 4px 16px;
    border: 1px solid $secondary200;
    font-size: $EXTRA_SMALL_SIZE;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: $secondary200;
    }

    img {
      height: 100%;
      transform: scale(0.8);
    }
  }

  &__avatar {
    margin-bottom: 1rem;
  }

  &__information {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    text-align: center;
    margin: 0.5rem 0;
    height: 3vw;

    &__button {
      color: $primary900;
      font-weight: 600;
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
    &__button:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &_position {
      font-size: 1rem;
      color: $black900;
      margin: 0;
    }
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-inline: 0.5rem;
    margin-top: 1rem;
    color: $primary600;
    div {
      display: flex;
      align-items: center;

      img {
        transform: scale(0.6);
        margin-bottom: 0.12rem;
      }
    }

    span {
      font-size: 0.85rem;
    }
  }

  &__topic {
    background-color: $primary50;
    padding: 1.1rem 0.9rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    height: 8rem;
    width: 15vw;

    &_item {
      display: flex;
      align-items: flex-start;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      margin-bottom: 0.5rem;
      img {
        margin-right: 10px;
      }
      span {
        font-size: 1rem;
        font-weight: 500;
        color: $primary900;
      }
    }
  }
}

@media (max-width: $bp-xl) {
  .card {
    &__topic {
      width: 20vw;
      height: 7rem;
    }
  }
}
