@import "../../shared/theme";

.bookingList {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 1rem;
    padding: 0 0.5rem;
  }
}
