@import "../../theme";

.fileInput {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3vh;

    label {
      align-self: flex-start;
      font-size: $LABEL_SIZE;
      color: $primary900;
      font-weight: 600;
      margin-bottom: 0.8vh;

      span {
        margin-left: 0.3rem;
        color: $black400;
        font-weight: 500;
      }
    }
  }
}
