@import "../../theme";

.datePicker {
  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.3vh;
    overflow: hidden;

    label {
      align-self: flex-start;
      font-size: $LABEL_SIZE;
      color: $primary900;
      font-weight: 600;
      margin-bottom: 0.8vh;
    }
  }

  &__input {
    div {
      border: none;
      background-color: $black000;

      input {
        padding-block: 0.7rem;
      }
    }
  }
}

@media (max-width: 899px) {
  .datePicker {
    &__container {
      label {
        font-size: $SMALL_LABEL_SIZE;
      }
    }
  }
}
