@import "../../theme";

.ratingInput {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
  }
  &__label {
    font-size: $LABEL_SIZE;
    color: $primary900;
    font-weight: 600;
    margin-bottom: 0.8vh;
    align-self: flex-start;
  }
}
