@import "../../../../shared/theme";

.modal {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;

  background-color: $black000;
  border-radius: 15px;
  outline: none;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 35vw;
  padding: 0rem 2.5rem 1rem;

  &__buttons {
    justify-content: flex-end;
    display: flex;
    width: 100%;
    gap: 5%;

    button {
      width: max-content;
      padding-inline: 2rem
    }
  }

  &__cancel {
    position: absolute;
    right: 2.5rem;
    top: 5%;

    cursor: pointer;

    transition: transform 0.1s;

    &:active {
      transform: scale(1.05);
    }
  }

  &__input {
    width: 100%;
  }
}
